<div class="container mt-5" *ngIf="value">
  <div class="card mx-auto">
    <div class="card-header text-center">
      <h1 class="text-dark">Sign Up</h1>
    </div>
    <div class="card-body">
      <form [formGroup]="signup" (ngSubmit)="addData(this.signup.value)">
        <div class="form-group">
          <label for="username" class="text-dark">Username :</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            placeholder="Enter Username"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['username'].touched &&
              signup.hasError('required', 'username')
            "
          >
            *Username is required</span
          >
        </div>
        <div class="form-group">
          <label for="first_Name" class="text-dark">First Name :</label>
          <input
            type="text"
            formControlName="first_name"
            class="form-control"
            placeholder="Enter First Name"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['first_name'].touched &&
              signup.hasError('required', 'first_name')
            "
            >*First Name is required
          </span>
        </div>
        <div class="form-group">
          <label for="mobileNumber" class="text-dark">MobileNumber:</label>
          <input
            type="text"
            formControlName="mobileNumber"
            class="form-control"
            placeholder="Enter mobile number"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['mobileNumber'].touched &&
              signup.hasError('required', 'mobileNumber')
            "
            >*mobile Number is required
          </span>
        </div>
        <div class="form-group">
          <label for="last_Name" class="text-dark">Last Name :</label>
          <input
            type="text"
            formControlName="last_name"
            class="form-control"
            placeholder="Enter Last Name"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['last_name'].touched &&
              signup.hasError('required', 'last_name')
            "
            >*Last Name is required
          </span>
        </div>
        <div class="form-group">
          <label for="email" class="text-dark">Email :</label>
          <input
            type="email"
            formControlName="email"
            class="form-control"
            placeholder="Enter Your Email "
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['email'].touched &&
              signup.hasError('required', 'email')
            "
            >*Email is required
          </span>
        </div>
        <div class="form-group">
          <label for="password" class="text-dark">Password :</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Enter Your Password"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['password'].dirty &&
              signup.hasError('required', 'password')
            "
            >*Password is required
          </span>
        </div>
        <div class="form-group">
          <label for="confirm_password" class="text-dark"
            >Confirm Password :</label
          >
          <input
            type="password"
            formControlName="confirm_password"
            class="form-control"
            placeholder="Confirm Password"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['confirm_password'].dirty &&
              signup.hasError('required', 'confirm_password')
            "
            >*Confirm is required
          </span>
        </div>
        <div class="form-group">
          <label for="file" class="text-dark">Upload file :</label>
          <input
            type="file"
            formControlName="file"
            class="form-control"
            placeholder="Put a file"
          />
          <span
            class="text-danger"
            *ngIf="
              signup.controls['file'].dirty &&
              signup.hasError('required', 'file')
            "
            >*Confirm is required
          </span>
        </div>
        <div class="button text-center">
          <button
            type="submit"
            class="btn btn-outline-dark px-4 py-2"
            [disabled]="!signup.valid"
          >
            Register
          </button>

          <!-- <button type="submit" class="btn btn-outline-dark px-3 py-2">
            cancel
          </button>

          <p class="mt-3">
            Already Have account?<a routerLink="/login" class="text-danger"
              >Login</a
            >
          </p> -->
        </div>
      </form>
      <!-- <button type="submit" class="btn btn-primary">view status</button> -->
    </div>
  </div>
</div>
